<h1>Itinerary#show</h1>
<p>Find me in app/views/itinerary/show.html.erb</p>

<h1> Itinerary: <%= @itinerary.title%> </h1>



<% @favourites.each do |favourite| %>
    <%= favourite.name  %> 
<% end %>