// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #3D673E;
$gray: #0E0000;

// colour scheme
$dark-blue: #0B0633;
$dark-blue-faded: #0b0633ab;
$orange: #FF4949;
$light-blue: #4F53FF;
$pink: #EB63DD;
$light-gray: #F4F4F4;
