<div class="login-container">
  <%= simple_form_for @user do |f| %>
    <%= f.input :username, placeholder:'Please enter a Display Name for your account', label: 'Display Name:' %>
    <br>
    <br>
    <%= f.input :photo, as: :file, label: 'Profile Image:'  %>
    <%= f.submit value="Continue to Tip-a-Trip", class: "dark" %>
  <% end %>
</div>
