<div class="footerss">
  <div class="footer mainfooter">
    <marquee scrollamount="5" direction="right" style="object-fit:fill;">
      <%= image_tag "plane.png", height: 30 %>
    </marquee>
    <h6 class="text-behind-marquee">ABOUT | CONTACT | FAQ</h6>
  </div>
</div>
