
<div class="home-background">

  <div class="row">
    <div class="col-4 logotext">
      <%= image_tag "logo.png", class: "image" %>
    </div>
    <div class="col-8 hometext">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fonttitle d-flex justify-content-center">Weclome to Tip-a-Trip</h5>
          <h6 class="card-subtitle mb-2 text-muted"> </h6>
          <p class="card-text font">
            Here, you can easily create and customise your travel itinerary to make your trip planning experience simple and stress-free.
          </p>
          <p class="card-text font">
            Tip-a-Trip also provides helpful information and recommendations on popular destinations, top-rated attractions, and must-visit landmarks, ensuring that you make the most out of your trip.
          </p>
          <p class="card-text font">
            Whether you're planning a weekend getaway or a longer stay, our itinerary builder website is the perfect tool to help you plan your dream trip. Start creating your personalised itinerary today and embark on your next adventure with ease!
          </p>
          <p class="card-text font">
            Create. Share. Travel.
          </p>
          <%= link_to "[Browse itineraries CTA]", itineraries_path %>
          <%= link_to "[Create itinerary CTA]", new_itinerary_path %>
          [Some fake reviews]
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">

  <marquee scrollamount="15" direction="right" style="object-fit:fill;">
    <%= image_tag "plane.png", height: 60 %>

  </marquee>
</footer>
