<div class="">
  <div class="row">
    <div class="col-6 logotext">
      <%= image_tag "logo.png", class: "image" %>
    </div>
    <div class="col-6 hometext">
      <div class="card" style="width: 30rem;">
  <div class="card-body">
  <div></div>
    <h5 class="card-title fonttitle">Weclome to Tip-a-Trip</h5>
    <h6 class="card-subtitle mb-2 text-muted">
  </div>

    </h6>
    <p class="card-text font">

    A platform that holds a collection of other user's itineraries you can take inspiration from, and where you can reminisce over your own holidays.
</p>

<p class="card-text font centre">
Create. Share. Travel.
</p>
 </div>
    </div>


</div>

    <%# <div class="txtcolour">
    A platform that holds a collection of other user's itineraries you can take inspiration from, and where you can reminisce over your own holidays.

Create. Share. Travel.

  </div> %>
</div>
