
<div class="home-background">

  <div class="row">
    <div class="col-6 logotext">
      <%= image_tag "logo.png", class: "image" %>
    </div>
    <div class="col-6 hometext">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title fonttitle">Weclome to Tip-a-Trip</h5>
          <h6 class="card-subtitle mb-2 text-muted"> </h6>
          <p class="card-text font">
            Welcome to our website! Here, you can easily create and customise your travel itinerary to make your trip planning experience simple and stress-free.

Our user-friendly platform allows you to easily add destinations, dates and attractions to your itinerary.

Our website also provides helpful information and recommendations on popular destinations, top-rated attractions, and must-visit landmarks, ensuring that you make the most out of your trip.

Whether you're planning a weekend getaway or a longer stay, our itinerary builder website is the perfect tool to help you plan your dream trip. Start creating your personalised itinerary today and embark on your next adventure with ease!
          <p class="card-text font centre">
            Create. Share. Travel.
          </p>
          <%= link_to "[Browse itineraries CTA]", itineraries_path %>
          <%= link_to "[Create itinerary CTA]", new_itinerary_path %>
          [Some fake reviews]
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">

  <marquee scrollamount="15" direction="right" style="object-fit:fill;">
    <%= image_tag "plane.png", height: 60 %>

  </marquee>
</footer>
