<div>
  <% @itinerary_activities.each do |itinerary_activity| %>
    <div class="itinerary-show-activities-card">
      <div> <%= itinerary_activity.activity.name %> </div>
      <div> <%= itinerary_activity.activity.duration %> minutes </div>
      <% if @original_itinerary.user == current_user %>
        <%= button_to 'Remove from itinerary', itinerary_activity_itinerary_activity_path(itinerary_activity.itinerary, itinerary_activity.activity, itinerary_activity ), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
