

.steal-button{
  // background: url('images/button') no-repeat;
  // border: none;
  background-color: aqua;
  border: solid;
}

input[type=submit]{
  background-color: aqua;
}

.outline-btn:active {
  // outline: none !important;
  // border-color: black;
  border: none !important;
} 