

// .steal-button{
//   background: url('images/button') no-repeat;
//   border: none;
//   background-color: aqua;
//   border: solid;
// }

// input[type=submit]{
//   background-color: aqua;
// }

.btn-dark{

  --bs-btn-bg:#0B0633;
}


.favourite-btn {
  background: none;
  border: none;
  outline: none;
  color: blue;
  &:hover {
    color: rgb(51, 51, 227);
  }
}
