.itineraries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  border-radius: 10px;
}

.itineraries2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.card-itinerary {
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;

  img:first-child {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  img:last-child {
    position: absolute;
    top: -10px;
    right: -10px;
    object-fit: cover;
    height: 50px;
    width: 50px;
    border: 2px solid white;
  }
}


.btn2{
  font-family:$headers;
  --bs-btn-font-size:2rem;
  display:block;
  font-weight: bold;
  color: #373737;
  --bs-btn-padding-y:1.45rem;


}

.btn-light{
  --bs-btn-bg:none;
  --bs-btn-border-color:none;
  --bs-btn-hover-bg:none;
  --bs-btn-hover-color:rgb(128, 128, 128);
}
.image__overlay {
  border-radius: 5px;

}

.card-itinerary h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-itinerary p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-itinerary .card-itinerary-infos {
  padding: 16px;
}

.itinerary-show-title-card{
  background-color: $dark-blue;
  border-radius: 8px;
  color: $light-gray;
  margin: 32px 8px;
  padding: 24px 32px;
}

.itinerary-show-title-card-subtitle{
  display: flex;
  justify-content: space-between
}

.itinerary-show-title-card-subtitle-text{
  color: $orange;
  .itn-title-icon{
    color: $light-blue;
  }
}

.itinerary-show-activities-card{
  background-color: white;
  border-radius: 8px;
  color: $dark-blue;
  border: solid $dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding: 8px 32px;
  // width: 610px;
}

.itinerary-show-activities-card-title{
  color: $orange;
}

a {
  text-decoration: none;
}

.card-new-itinerary-form{
  background-color: white;
  color: $dark-blue;
  border-radius: 8px;
  margin: 32px 8px;
  padding: 24px 32px;
  align-items: center;
  margin: 0px 8px 8px;
}

.itinerary-favourites-title-card{
  background-color: $dark-blue;
  border-radius: 8px;
  color: $light-gray;
  margin: 32px 8px;
  padding: 24px 32px;
}

.itinerary-show-favourites-card{
  background-color: $light-gray;
  border: solid $dark-blue;
  border-radius: 8px;
  color: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding: 8px 32px;;
}
