.btn-dark{
  --bs-btn-bg:#0B0633;
  --bs-link-color:white;
  padding: 4px;
  border-radius: 50rem;


  // border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  // height:20px;
  // width: 20px;

}

  .red:hover{
    color:#FF4949;
  }

  .red2{
   font-size: 15px;
   padding: 7px;
  }

  .red4{
    font-size: 15px;
   padding: 7px;
   border: solid #0B0633 2px;
   border-radius: 50rem;

  }

  .red4:hover{
    background-color: #0B0633;
  transition-duration: 0.5s;
  color:#FF4949;

  }

  .red2:hover{
    color:#FF4949;
  }

  .btn-light{
    --bs-btn-bg:#F5F4F4;
    --bs-link-color:#0B0633;
    padding: 7px;
    --bs-btn-border-color:#0B0633;
    --bs-btn-hover-border-color:#0B0633;
    --bs-btn-hover-bg:#0B0633;
    //  border-bottom-left-radius: 25%;
    //  border-bottom-right-radius: 25%;
    //  border-top-right-radius:25%;
    //  border-top-left-radius:25%;
     border-radius: 50rem;

    // border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    // height:20px;
    // width: 20px;
  }

.blue:hover{
  color:#F5F4F4;
}
.blue{
  color: #FF4949;

}

.publish_position{
  position: relative;
  bottom:5px;
  left:4px;
  text-align: center;
  font-family: "Play", "sans-serif";
  font-size: 18px;

  .form-check {
    display: none;
  }
}

.publish{
  padding: 8px 40px;
  border-radius: 50rem;
  background-color:  $dark-blue ;
  color: $orange;
  font-size: 18px;
  border: solid $orange;
  width: 160px;
  position: centre;
}

.publish:hover{
  background-color: $orange;
  transition-duration: 0.5s;
  color:white;
}

.x {
  color: rgb(162, 159, 159);
  font-size: 20px;
}

.white-bottom {
  background: white;
  border-radius: 8px;
  padding: 12px 100px;
  width: fit-content;
  margin: 0 auto;
  p {
    margin: 0;
  }
}
