
.mainfooter {
  position: relative;
  position: fixed;
  background-color: $dark-blue;
  margin-top: auto;
  padding: 5px;
  display: flex;
  align-items: center;
}

.mainfooter marquee {
  // position: absolute;
  top: 0;
  left: 0;
  background-color: $dark-blue;
}

.text-behind-marquee {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3.5px);
  z-index: +1;
  color: white;
  background-color: $dark-blue;
  font-family: $headers-font;
}
