.navbar-lewagon {
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link{
  color: #F5F4F4;
}

.navbar-nav {
  margin-right: auto;

}

.navbar .form-control {
  background-color: transparent;
  border: 1px solid #fff;

}

.navbar .form-group {
  margin-right: auto;
}
