.navbar-lewagon {
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
}

.nav-link{
  color: #F5F4F4;
}

.navbar-nav {
  margin-right: auto;

}

.navbar .form-control {
  background-color: transparent;
  border: 1px solid #fff;

}

.navbar .form-group {
  margin-right: auto;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.86);
}

.btn-create-new {
  padding: 10px 20px;
  font-size: 18px;
  font-family: $headers;
  margin: 12px;
  background: $dark-blue;
}

.dropdown-item {
  font-family: $headers;
}

.navbar-nav li {
  margin-right: 10px;
}
