.steal_card{
  background: white;
  padding: 26px;
  border-radius: 5%;
  position: sticky;
  width: 600px;
}


.buttonlogo{
  height: 35px;
  width: 35px;
  }

  .move_card{
   padding: 0px;
      background:#0B0633;

  }
