.itinerary-title{
  display: flex;
  font-family: $headers;
  justify-content: center;
  padding: 5px;
  padding-top: 10px;

}
.show-page {
  position: relative;
  .back{
    border-radius: 50rem;
    background-color:#F5F4F4;
    color: #0B0633;
    font-size: 16px;
    position: absolute;
    left: 23px;
    top: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.itinerarytitle{
  position: relative;
    left: -18px;

}

.back:hover{
  background-color: #0B0633;
  transition-duration: 0.5s;
  color:#F5F4F4;




}
