.steal-card {
  background: $dark-blue;
  color: white;
  padding: 32px;
  border-radius: 8px;
  position: sticky;
  top: 270px;
  height: fit-content;
}


.buttonlogo{
  height: 35px;
  width: 35px;
  }

  .move_card{
   padding: 0px;
      background:#0B0633;

  }
