.steal-card {
  background: white;
  // border: solid 1px $dark-blue;
  color: $dark-blue;
  padding: 32px;
  border-radius: 8px;
  position: sticky;
  margin-top: 48px;
  height: fit-content;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.buttonlogo{
  height: 35px;
  width: 35px;

  }

  .move_card{
   padding: 5px;
   background: $dark-blue;
   border-radius: 50rem;

  }
  .move_card:hover{
    background:  #F5F4F4;
    transition-duration:0.5s;
    border: solid #0B0633 2px;

    border-radius: 100rem;

  }

  .size{
    font-size: 20px;
  }
