.btn-dark{
  --bs-btn-bg:#0B0633;
  --bs-link-color:white;
  padding: 4px;
  border-radius: 50rem;


  // border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  // height:20px;
  // width: 20px;

}

  .red:hover{
    color:#FF4949;
  }

  .red2{
   font-size: 15px;
   padding: 7px;
  }
  .red2:hover{
    color:#FF4949;
  }

  .btn-light{
    --bs-btn-bg:#F5F4F4;
    --bs-link-color:#0B0633;
    padding: 7px;
    --bs-btn-border-color:#0B0633;
    --bs-btn-hover-border-color:#0B0633;
    --bs-btn-hover-bg:#0B0633;
    //  border-bottom-left-radius: 25%;
    //  border-bottom-right-radius: 25%;
    //  border-top-right-radius:25%;
    //  border-top-left-radius:25%;
     border-radius: 50rem;

    // border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    // height:20px;
    // width: 20px;

  }

.blue:hover{
  color:#F5F4F4;
}
.blue{
  color: #FF4949;

}
