<h1>Activities#index</h1>
<p>Find me in app/views/activities/index.html.erb</p>

<h1> Activities: </h1>
<% @activities.each do |activity| %>
  <p> Activity: <%= activity.name %> </p>
  <p> Cost: <%= activity.cost %> </p>
<% end %>
